<?xml version="1.0" encoding="UTF-8"?>
<!-- Connection -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.sist.dao.EmpVO" alias="Empvo"/>
  		<typeAlias type="com.sist.dao.DeptVO" alias="DeptVO"/>
  	</typeAliases>
  	<mappers>
		<mapper resource="com/sist/dao/emp-mapper.xml"/>
	</mappers>
  </configuration>
