<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
	<div class="wrapper row2">
	  <div id="breadcrumb" class="clear"> 
	    <ul>
	      <li><a href="/main">Home</a></li>
	    </ul>
	  </div>
	</div>
	<div class="wrapper row3">
	  <main class="container clear">
	  	<table class="table">
	  		<tr>
	  			<td>
	  				<a href="/board/insert" class="btn btn-sm btn-primary">새글</a>
	  			</td>
	  		</tr>
	  	</table>
	  	<table class="table">
	  		<tr>
	  			<th width="10%" class="text-center">번호</th>
	  			<th width="45%" class="text-center">제목</th>
	  			<th width="15%" class="text-center">이름</th>
	  			<th width="20%" class="text-center">작성일</th>
	  			<th width="10%" class="text-center">조회수</th>
	  		</tr>
	  		<tr th:each="vo:${list}">
	  			<td width="10%" class="text-center" th:text="${vo.no}"></td>
	  			<td width="45%">
	  				<a th:href="@{/board/detail(no=${vo.no})}" th:text=${vo.subject}></a>
	  			</td>
	  			<td width="15%" class="text-center" th:text=${vo.name}></td>
	  			<td width="20%" class="text-center" th:text="${#temporals.format(vo.regdate,'yyyy-MM-dd HH:mm')}"></td>
	  			<td width="10%" class="text-center" th:text=${vo.hit}></td>
	  		</tr>
	  	</table>
	  	<table class="table">
	  		<tr>
	  			<td align="center">
	  				<a th:href="@{/board/list(page=${curpage>1?curpage-1:curpage})}" class="btn btn-sm btn-danger" th:text="이전"></a>
	  					<span th:text="${curpage}"></span> page  / <span th:text="${totalpage}"></span> pages
	  				<a th:href="@{/board/list(page=${curpage<totalpage?curpage+1:curpage})}" class="btn btn-sm btn-danger" th:text="다음"></a>
	  			</td>
	  		</tr>
	  	</table>
	  </main>
	</div>  
</body>
</html>