<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.music.dao.MusicMapper">
	<select id="musicListData" resultType="com.sist.music.vo.MusicVO"
		parameterType="hashmap"
	>
		SELECT no,title,singer,album,state,idcrement,poster
		FROM music
		WHERE cno=#{cno}
		ORDER BY no ASC
		limit #{start},#{size}
	</select>
	<select id="musicTotalPage" resultType="int" parameterType="int">
		SELECT CEIL(COUNT(*)/20.0) FROM music
		WHERE cno =#{cno}
	</select>
</mapper>